@define-color background: #0d1117;
@define-color background-darker: #010409;
@define-color border: #30363d;
@define-color foreground: #b3b1ad;
@define-color highlight: #f78166;
@define-color highlight-focused: #fa8e75;
@define-color selection: #2d3139;
@define-color current-line: #171b22;

@define-color keyword: #ff7b72;
@define-color variable: #ffa657;
@define-color label: #79c0ff;
@define-color function: #d2a8ff;
@define-color string: #a5d6ff;

@define-color warning: #f0883e;
@define-color error: #f85149;

*{
  color: @foreground;
}

.notification-row {
  outline: none;
}

.notification-row:focus,
.notification-row:hover {
  background: @background;
}

.notification {
  border-radius: 12px;
  margin: 6px 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.low {
  background: @background-darker;
  padding: 6px;
  border-radius: 12px;
  border-color: @border;
}
.normal {
  background: @background-darker;
  padding: 6px;
  border-radius: 12px;
  border-color: @border;
}
.critical {
  background: @background-darker;
  padding: 6px;
  border-radius: 12px;
  border-color: @error;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}
