$background: #0d1117;
$background-darker: #010409;
$border: #30363d;
$foreground: #b3b1ad;
$highlight: #f78166;
$highlight-focused: #fa8e75;
$selection: #2d3139;
$current-line: #171b22;

$keyword: #ff7b72;
$variable: #ffa657;
$label: #79c0ff;
$function: #d2a8ff;
$string: #a5d6ff;

$warning: #f0883e;
$error: #f85149;
